{
    "printWidth": 120,
    "tabWidth": 4,
    "semi": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "auto"
}